TYPE=Ethernet
PROXY_METHOD=none
BROWSER_ONLY=no
BOOTPROTO=static
DEFROUTE=yes
IPV4_FAILURE_FATAL=no
NAME=eth0:2
#UUID=62a7779c2-a4e7-4784-bd29-bc1b966bb992
DEVICE=eth0:2
ONBOOT=yes
IPADDR=192.168.0.3
PREFIX=25
GATEWAY=192.168.0.1
